<div id="myToolbar" class="mini-toolbar" style="border-bottom: 0px; padding: 0px;">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-help" plain="true" href="@Url.RouteUrl(new { controller = "File", action = "DownloadHelpFiles" })?FileName=ProjectTask" target="_blank"></a>当前位置：基站建维>基站报表>项目经理月报
            </td>
            <td style="white-space: nowrap;">
                <a id="btnSearch" class="mini-button" iconcls="icon-search" plain="true" onclick="onSearchClick">查询</a>
                <a class="mini-button" iconcls="icon-excel" plain="true" onclick="ExportExcel">导出Excel</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dgProjectTask" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="Id" allowmovecolumn="false"
         multiselect="true" fitcolumns="false" onlycheckselection="true" showreloadbutton="false" showpager="false"
         onload="onDgProjectTaskLoad">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div field="CreateDate" header="年月" width="80"></div>
            <div field="DepartmentName" header="部门名称" width="100"></div>
            <div field="FullName" header="项目经理" width="80"></div>
            <div field="MonthOnTimeCount" header="本月按时完成数量" width="110"></div>
            <div field="MonthOverTimeCount" header="本月超时完成数量" width="110"></div>
            <div field="TotalCount" header="年内项目总数" width="85"></div>
            <div field="YearOnTimeCount" header="年内按时完成数量" width="110"></div>
            <div field="YearOverTimeCount" header="年内超时完成数量" width="110"></div>
            <div field="YearUnFinishCount" header="年内未完成数量" width="100"></div>
            <div field="YearOnTimeRate" header="年内完成率" width="80"></div>
            <div field="MonthScore" header="月度得分" width="80"></div>
            <div field="YearScore" header="年度得分" width="80"></div>
        </div>
    </div>
</div>
<div id="winQuery" class="mini-window" style="width: 320px; height: 140px;"
     showmodal="true" allowresize="false" title="查询条件">
    <table style="width: 100%;">
        <tr>
            <td style="width: 80px; text-align: right;">查询月份</td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><input id="dpMonth" class="mini-monthpicker" style="width:98px;" value="new Date()" showclearbutton="false" allowinput="false" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">部门</td>
            <td>
                <input id="cbDepartmentId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="DepartmentName" valuefield="Id" data=@Html.Raw(ViewData["DepartmentsByAll"]) />
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-ok" onclick="onOKClick">确定</a>
    </div>
</div>
<iframe id="exportIFrame" style="display:none;"></iframe>
<!--导出Excel相关HTML-->
<form id="excelForm" action="export.aspx?type=excel" method="post" target="excelIFrame">
    <input type="hidden" name="columns" id="excelData" />
</form>
<iframe id="excelIFrame" name="excelIFrame" style="display:none;"></iframe>
<script type="text/javascript">
    mini.parse();

    var btnSearch = mini.get("btnSearch");
    var dgProjectTask = mini.get("dgProjectTask");
    var winQuery = mini.get("winQuery");
    var dpMonth = mini.get("dpMonth");
    var cbDepartmentId = mini.get("cbDepartmentId");

    init();

    function init() {
        BindDgProjectTask();
    }

    function BindDgProjectTask() {
        btnSearch.setEnabled(false);
        var query_BeginDate = dpMonth.getFormValue() + "-01";
        var query_BeginDateYear = dpMonth.getFormValue("yyyy") + "-01-01";
        var query_DepartmentId = cbDepartmentId.getValue();
        if (dgProjectTask.getUrl() == "") {
            dgProjectTask.setUrl("@Url.RouteUrl(new { controller = "BaseStationReport", action = "GetProjectTaskProjectManager" })");
        }
        dgProjectTask.clearSelect(false);
        dgProjectTask.load({ BeginDate: query_BeginDate, BeginDateYear: query_BeginDateYear, DepartmentId: query_DepartmentId });
    }

    function onDgProjectTaskLoad() {
        btnSearch.setEnabled(true);
    }

    function onSearchClick() {
        winQuery.show();
    }

    function onOKClick() {
        BindDgProjectTask();
        winQuery.hide();
    }

    function ExportExcel() {
        var query_BeginDate = dpMonth.getFormValue() + "-01";
        var query_BeginDateYear = dpMonth.getFormValue("yyyy") + "-01-01";
        var query_DepartmentId = cbDepartmentId.getValue();

        var excelForm = document.getElementById("excelForm");
        excelForm.action = "@Url.RouteUrl(new { controller = "DataOutput", action = "ExportProjectTaskProjectManagerExcel" })" + "?BeginDate=" + query_BeginDate + "&BeginDateYear=" + query_BeginDateYear + "&DepartmentId=" + query_DepartmentId + "&Profession=1";
        excelForm.submit();
    }
</script>